a.d-flex.align-items-center.mb-3.text-decoration-none.text-dark.shadow-sm(href=chat.link)
    img.ms-3.me-4.rounded-circle(src= chat.avatar width="50" height="50")
    .py-4.pe-3.overflow-hidden.w-100
      .d-flex.justify-content-between
        p.fw-bold.mb-0 #{chat.name}
        p.text-secondary #{chat.time}
      p.text-muted.small.mb-0.text-truncate #{chat.lastMessage}