header.d-flex.align-items-center.border-bottom(href="#")
  img.ms-md-1.me-4.rounded-circle(src=user.avatar alt="avatar" width="50" height="50")
  .py-4
    p.fw-bold.mb-0 #{user.name}
    p.text-muted.small.mb-0 Онлайн
