form
  .input-group.border-top
    input.form-control.border-0.bg-white(type="text" placeholder="Напишите сообщение...")
    button.btn.btn-primary.rounded-circle.message-submit.shadow-none.m-3(type="submit")
      span.bi.bi-cursor.fs-4