form.mx-5
  .input-group.border-top.align-items-center
    input.form-control.border-0.bg-white.pt-0.shadow-none(type="text" placeholder="Напишите сообщение...")
    button.btn.btn-primary.rounded-circle.message-submit.m-3(type="submit")
      span.bi.bi-cursor.fs-4