form.mx-md-5.sticky-bottom.bg-white
  .input-group.border-top.align-items-center.py-md-1
    input.form-control.border-0.bg-white.ps-4.p-md-2.ps-md-4.ms-2.m-md-0.shadow-none(type="text" placeholder="Напишите сообщение...")
    button.btn.btn-primary.border-0.rounded-circle.message-submit.m-3.p-0(type="submit")
      span.bi.bi-cursor.fs-4