include data/contacts.pug
include aside/mixins/search.pug

doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="./styles/app.css")
    title
  body.vh-100.bg-gray
    .container-xxxl.h-100.border.border-gray.rounded.overflow-hidden.bg-white
      .row.h-100
        .col.col-md-7.col-lg-6.col-xl-5.col-xxl-4.p-0.h-100.d-flex.flex-column
          include header/header.pug
          .tab-content.hide-scrollbar.h-100
            section.tab-pane.active.pt-5.px-4#contacts(role="tabpanel" aria-labelledby="contacts-tab")
              include aside/contacts.pug
            section.tab-pane.pt-5.px-4#chats(role="tabpanel" aria-labelledby="chats-tab")
            section.tab-pane.pt-5.px-4#profile(role="tabpanel" aria-labelledby="profile-tab")
        main.col.d-flex.border-start.border-gray
          include main/avatar.pug
  script(src="js/bootstrap.min.js")