/* BOX-SHADOW */

$enable-shadows: true;

/* BREAKPOINTS */

$grid-breakpoints: map-merge($grid-breakpoints, ("xxxl": 1600px));

$container-max-widths: map-merge($container-max-widths, ("xxxl": 1540px));

/* BODY */

$body-bg: $gray;

/* NAVS */

$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: trasparent;

.tab-content a:hover,
.tab-content a:focus,
.tab-content a:hover *,
.tab-content a:focus * {
  color: $light !important;
  background-color: $primary;
}

/* LIST-GROUP */

$list-group-color: $gray-600;

$list-group-border-color: $gray;