h2.mb-4.fw-bold.text-900 Профиль
+search('Поиск по сообщениям')
.card.py-4.mt-5.align-items-center.text-center.border-0.bg-transparent
  img.mt-2.mt-md-0.rounded-circle(src="images/avatar_1.jpg" alt="avatar" hight="90" width="90")
  p.mt-3.fw-bold Кодовёнок Хекслетович
  p.mt-md-2.text-black-50 Милый и скромный помощник начинающих разработчиков. Люблю JavaScript
ul.list-group.mt-md-5.mx-3.list-group-flush
  li.list-group-item.d-flex.justify-content-between.align-items-center.bg-transparent
    div
      p.mb-0.small.text-secondary Страна
      p.mb-0.small Москва, Россия
    i.bi.bi-globe.text-black-50
  li.list-group-item.d-flex.justify-content-between.align-items-center.bg-transparent
    div
      p.mb-0.small.text-secondary Телефон
      p.mb-0.small +7 (499) 123-45-67
    i.bi.bi-telephone.text-black-50
  li.list-group-item.d-flex.justify-content-between.align-items-center.bg-transparent
    div
      p.mb-0.small.text-secondary Email
      p.mb-0.small nikita.m@hexlet.io
    i.bi.bi-envelope.text-black-50
  li.list-group-item.d-flex.justify-content-between.align-items-center.bg-transparent
    div
      p.mb-0.small.text-secondary Twitter
      p.mb-0.small @n_mikhaylov
    i.bi.bi-people.text-black-50